<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:insert="~{commonParts/header::header}"></th:block>

    <body class="d-flex align-items-center justify-content-center container">
        <div class="edit-user-container col-md-3">
            <h1 class="text-center mb-4">Редактирование пользователя</h1>

            <form th:action="@{/users/{id}(id=${user.id})}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Имя пользователя:</label>
                    <input type="text" id="username" name="username" class="form-control" th:value="${user.username}" required />
                </div>

                <div class="mb-3 form-check">
                    <input type="checkbox" id="active" name="active" class="form-check-input" th:checked="${user.active}" />
                    <label class="form-check-label" for="active">Активен</label>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" id="email" name="email" class="form-control" th:value="${user.email}" required />
                </div>

                <div class="mb-4">
                    <label class="form-label">Роли:</label>
                    <div class="p-3 border rounded bg-light">
                        <div th:each="role : ${T(ru.kovalenkojuls.cookhub.domains.enums.UserRole).values()}" class="form-check">
                            <input type="checkbox" th:name="${role}" th:value="1"
                                   class="form-check-input" th:checked="${user.roles.contains(role)}" id="role-${role}"/>
                            <label class="form-check-label" th:for="'role-' + ${role}" th:text="${role}"></label>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary w-100">Сохранить изменения</button>
                </div>
            </form>

            <div th:insert="~{commonParts/buttonBackToMain::buttonBackToMain}"></div>
        </div>

        <th:block th:insert="~{commonParts/footer::footer}"></th:block>
    </body>
</html>