<div th:fragment="header">
    <head>
        <title>CookHub</title>
        <link rel="stylesheet" th:href="@{/static/css/main_styles.css}" />
    </head>
</div>

<div th:fragment="footer">
    <footer>
        <p>© 2024 CookHub</p>
    </footer>
</div>

<div th:fragment="logout">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
</div>

<div th:fragment="optionForSelectCategory">
    <option value="" disabled selected>-- Выберите категорию --</option>
    <option th:each="category : ${T(ru.kovalenkojuls.cookhub.domains.enums.RecipeCategory).values()}"
            th:value="${category.name()}"
            th:text="${category.displayName}"></option>
</div>