<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:insert="~{commonParts::header}"></div>
    <body>
        <div th:insert="~{commonParts::logout}"></div>
        <a th:href="@{/user}">Список пользователей</a>
        <h1>Добавить новый рецепт:</h1>
        <form th:action="@{/main}" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td><label for="text">Введите текст рецепта:</label></td>
                    <td><input type="text" id="text" name="text" required></td>
                </tr>
                <tr>
                    <td><label for="recipe-category">Выберите категорию:</label></td>
                    <td>
                        <select id="recipe-category" name="category" required>
                            <div th:insert="~{commonParts::optionForSelectCategory}"></div>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="file">Фото блюда:</label></td>
                    <td><input id="file" type="file" name="file"></td>
                </tr>
                <tr>
                    <td><button type="submit">Добавить рецепт</button></td>
                </tr>
            </table>
        </form>

        <h1>Список рецептов:</h1>
        <form th:action="@{/main}" method="get">
            <label for="category-filter">Выберите категорию:</label>
            <select id="category-filter" name="category">
                <div th:insert="~{commonParts::optionForSelectCategory}"></div>
            </select>
            <button type="submit">Найти</button>
        </form>
        <table border="1" style="border-collapse: collapse">
            <thead th:if="${!#lists.isEmpty(recipes)}">
                <tr>
                    <th>ID</th>
                    <th>Рецепт</th>
                    <th>Категория</th>
                    <th>Автор</th>
                    <th>Фото</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(recipes)}">
                    <td colspan="3" style="text-align: center;">Список пуст</td>
                </tr>
                <tr th:each="recipe : ${recipes}" th:unless="${#lists.isEmpty(recipes)}">
                    <td th:text="${recipe.id}"></td>
                    <td th:text="${recipe.text}"></td>
                    <td th:text="${recipe.category.displayName}"></td>
                    <td th:text="${recipe.author.username}"></td>
                    <td>
                        <span th:if="${recipe.filename}"> <!-- Проверка, есть ли filename -->
                        <img th:src="@{/images/{filename}(filename=${recipe.filename})}"
                                 alt="Recipe Image" style="max-height: 100px; max-width: 100px;" />
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
    <div th:insert="~{commonParts::footer}"></div>
</html>