<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:insert="~{commonParts::header}"></div>
    <body>
        <div th:insert="~{commonParts::logout}"></div>
        <a th:href="@{/user}">Список пользователей</a>
        <h1>Добавить новый рецепт:</h1>
        <form th:action="@{/main}" method="post">
            <div>
                <label for="text">Введите текст рецепта:</label>
                <input type="text" id="text" name="text" required>
            </div>
            <div>
                <label for="recipe-category">Выберите категорию:</label>
                <select id="recipe-category" name="category" required>
                    <div th:insert="~{commonParts::optionForSelectCategory}"></div>
                </select>
            </div>
            <div>
                <button type="submit">Добавить рецепт</button>
            </div>
        </form>

        <h1>Список рецептов:</h1>
        <form th:action="@{/main}" method="get">
            <label for="category-filter">Выберите категорию:</label>
            <select id="category-filter" name="category">
                <div th:insert="~{commonParts::optionForSelectCategory}"></div>
            </select>
            <button type="submit">Найти</button>
        </form>
        <table>
            <thead th:if="${!#lists.isEmpty(recipes)}">
                <tr>
                    <th>ID</th>
                    <th>Рецепт</th>
                    <th>Категория</th>
                    <th>Автор</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(recipes)}">
                    <td colspan="3" style="text-align: center;">Список пуст</td>
                </tr>
                <tr th:each="recipe : ${recipes}" th:unless="${#lists.isEmpty(recipes)}">
                    <td th:text="${recipe.id}"></td>
                    <td th:text="${recipe.text}"></td>
                    <td th:text="${recipe.category.displayName}"></td>
                    <td th:text="${recipe.author.username}"></td>
                </tr>
            </tbody>
        </table>
    </body>
    <div th:insert="~{commonParts::footer}"></div>
</html>