<div th:fragment="recipesList" class="recipes-list-container">
    <th:block th:insert="~{commonParts/pagination::pagination}"></th:block>
    <div class="row">
        <div class="col-md-12">
            <div th:if="${#lists.isEmpty(page.content)}" class="alert alert-warning text-center" role="alert">
                Список пуст
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div th:each="recipe : ${page.content}" class="col-md-4 mb-4">
                            <div class="card h-100 shadow-sm">
                                <div class="card-img-top position-relative" style="height: 200px;">
                                    <div th:if="${recipe.filename}">
                                        <img th:src="@{/images/{filename}(filename=${recipe.filename})}"
                                             alt="Recipe Image" class="card-img-top" style="height: 200px; width: 100%; object-fit: contain;" />
                                    </div>
                                    <div th:unless="${recipe.filename}">
                                        <img th:src="@{/images/no_photo.jpg}" alt="Recipe Image" class="card-img-top" style="height: 200px; width: 100%; object-fit: contain;" />
                                    </div>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <p class="card-text mb-2" th:text="${recipe.text}"></p>
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <p class="card-subtitle mb-2 text-muted">
                                            <a th:href="@{/recipes/user/{userId}(userId=${recipe.author.id})}"
                                               th:text="${recipe.author.username}"></a>
                                        </p>
                                        <span class="text-muted">
                                            <i class="bi bi-clock-fill me-1"></i>
                                            <span th:text="${#temporals.format(recipe.createdAt, 'dd.MM.yyyy')}"></span>
                                        </span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <p class="card-subtitle mb-2 text-muted">
                                            <i class="bi bi-tag-fill me-1"></i>
                                            <span th:text="${recipe.category.displayName}"></span>
                                        </p>
                                        <span class="text-muted d-flex align-items-center">
                                            <a th:href="@{/recipes/{id}/like(id=${recipe.id})}" class="text-decoration-none">
                                                <i class="bi bi-heart-fill text-danger" th:if="${recipe.meLiked}"></i>
                                                <i class="bi bi-heart text-muted" th:unless="${recipe.meLiked}"></i>
                                            </a>
                                            <span class="ms-1" th:text="${recipe.likes.size()}">0</span>
                                        </span>
                                    </div>
                                    <div class="mt-auto">
                                        <a th:if="${currentUser.id == recipe.author.id}"
                                           th:href="@{/recipes/{recipeId}(recipeId=${recipe.id})}"
                                           class="btn btn-outline-primary w-100">Редактировать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
