<div th:fragment="navigationBar" class="navbar navbar-expand-lg bg-light border">
    <div class="container-fluid">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <div>
                <a th:if="${currentUser.roles.contains(T(ru.kovalenkojuls.cookhub.domains.enums.UserRole).ADMIN)}"
                   th:href="@{/users}" class="btn btn-outline-secondary me-2">Список пользователей</a>
                <a th:href="@{/recipes/user/{userId}(userId=${currentUser.id})}" class="btn btn-outline-secondary me-2">Мои рецепты</a>
                <a th:href="@{/users/followers}" class="btn btn-outline-secondary me-2">Мои подписки</a>
                <a th:href="@{/recipes}" class="btn btn-outline-secondary">Вернуться на главную</a>
            </div>
            <div class="d-flex align-items-center ms-auto border p-2 rounded" style="background-color: #f8f9fa;">
                <div class="me-3" style="position: relative;">
                    <span class="fw-bold" th:text="${currentUser.username}"
                          style="font-size: 1.4rem; color: #343a40; padding: 0.5rem 1rem; border-radius: 5px; background-color: #e9ecef;">Имя пользователя</span>
                </div>
                <span class="badge bg-success me-1" th:text="${currentUser.followers.size()}">0</span>
                <span class="text-muted">фолловеров,</span>
                <span class="badge bg-warning ms-2 me-1" th:text="${currentUser.followings.size()}">0</span>
                <span class="text-muted">подписок</span>
                <form th:action="@{/logout}" method="post" class="ms-3">
                    <input type="submit" value="Выйти" class="btn btn-outline-secondary"/>
                </form>
            </div>
        </div>
    </div>
</div>
